@charset "utf-8";
/* CSS Document */

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 80%;
	margin: auto;
}

td,th{
	border: 1px solid;
}

#list{
	width: 80%;
	margin: auto;
	height: 50px;
	background: #eee;
	line-height: 50px;
}

.enter-page{
	width: 30px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}