@charset 'utf-8';

#wrap {
	width: 1000px;
	margin: 30px auto 0;
}

#content {
	float: left;
	width: 600px;
}

/* 每一条留言 */
#content .item .items {
	margin: 5px;
	padding: 5px;
	border: 1px solid #fff;
}

.items .list .top {

}

.items .list .mid {
	border: 1px solid #333;
	padding: 4px;
	text-indent: 2em;
}

.items .list .bot {
	height: 40px;
	line-height: 40px;

}
.items .list .bot .zan {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	border: 1px solid #000;
	cursor: pointer;
	text-align: center;
	float: right;
}


#info {
	float: right;
	margin-right: 50px;
	width: 300px;
}

#info > section{
	margin: 5px;
	border: 1px solid #fff;
}

#info > section textarea {
	display: block;
	height: 100px;
	width: 280px;
	margin: 5px auto;
	resize: none;
}

#info > section p {
	margin: 5px auto;
	text-indent: 2em;
}

#info input[type="submit"],
#info input[type="button"] {
	padding: 3px 9px;
}


.tip {
	color: #da0;
	font-size: 12px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.bok{
	display: block;
}